.page-header {
  border-bottom: 2px solid $color-white;
  text-align: center;
  padding: 12px 72px 24px;
  margin-bottom: 44px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;

  @include breakpoint(tablet) {
    padding: 30px;
  }

  .ff-logo-internal {
    width: 40px;
    margin: auto;

    @include breakpoint(desktop) {
      width: 80px;
      position: absolute;
      top: 50%;
      left: 30px;
      transform: translateY(-50%);
    }
  }

  h1,
  p {
    margin: auto;
  }

  h1 {
    max-width: 1000px;
  }

  p {
    max-width: 750px;
  }

  &.flip {
    display: flex;
    flex-direction: column-reverse;
  }
}
