.bubble-btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;

  @include breakpoint(desktop) {
    &.three > * {
      flex: 1 1 calc((100% - 2.5rem) / 3);
    }

    &.four > * {
      flex: 1 1 calc(25% - 0.9375rem);
    }

    &.five > * {
      flex: 1 1 calc(20% - 1rem);
    }
  }
}

.bubble-btn {
  width: 100%;
  min-height: 60px;
  padding: 12px;
  font-size: 16px;
  font-weight: $fw-medium;
  color: $color-navy;
  background-color: $color-white;
  border-radius: 30px;
  transition: all 0.25s ease-in-out;

  @include breakpoint(desktop) {
    min-height: 80px;
    padding: 16px;
    flex-grow: 0 !important;
  }

  &.large {
    padding: 36px 28px;
    font-size: 18px;
    font-weight: $fw-medium;
    flex-grow: 1;

    @include breakpoint(desktop) {
      padding: 48px 32px;
      font-size: 24px;
      flex-grow: 0;
    }
  }

  &:hover:not(.disabled),
  &.active {
    background-color: $color-light-navy;
  }

  &.disabled {
    opacity: 0.25;
    cursor: not-allowed;
  }

  span {
    display: block;
    font-size: 14px;
    font-weight: $fw-regular;
  }
}
