.nav-bar {
  position: fixed;
  bottom: 16px;
  width: calc(100% - 33px);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #223970 67.31%, rgba(34, 57, 112, 0) 100%);

  @include breakpoint(desktop) {
    bottom: 34px;
    width: calc(100% - 68px);
  }

  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 500px;
    padding: 8px;
    gap: 12px;
    border-radius: 30px;
    background-color: rgba($color-white, 0.9);

    button {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 16px;
      font-weight: $fw-semi-bold;
      color: $color-navy;

      &.nav-button {
        &:disabled {
          opacity: 0.5;
          cursor: default;
        }

        &.active {
          animation: bounceRight 2.5s ease-in-out infinite;
        }
      }

      svg {
        width: 20px;

        @include breakpoint(tablet) {
          width: auto;
        }
      }

      @include breakpoint(tablet) {
        font-size: 20px;
      }
    }
  }
}

@keyframes bounceRight {
  0%,
  50%,
  100% {
    transform: translateX(-8px);
  }
  25%,
  75% {
    transform: translateX(0);
  }
}
