.nav-bar {
  position: fixed;
  bottom: 26px;
  background: linear-gradient(0deg, #223970 67.31%, rgba(34, 57, 112, 0) 100%);
  width: calc(100% - 52px);
  height: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  @include breakpoint(tablet) {
    width: calc(100% - 60px);
    bottom: 30px;
  }

  @include breakpoint(desktop) {
    width: calc(100% - 68px);
    bottom: 34px;
  }

  .nav-wrapper {
    border-radius: 30px;
    background-color: rgba($color: $color-white, $alpha: 0.9);
    width: 90%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    gap: 12px;

    button {
      display: flex;
      gap: 8px;
      align-items: center;
      font-size: 16px;
      font-weight: $fw-semi-bold;
      color: $color-navy;

      &.nav-button {
        &:disabled {
          opacity: 0.5;
          cursor: default;
        }

        &.active {
          animation: bounceRight 2.5s ease-in-out infinite;

          @keyframes bounceRight {
            0% {
              transform: translateX(-8px);
            }
            25% {
              transform: translateX(0px);
            }
            50% {
              transform: translateX(-8px);
            }
            75% {
              transform: translateX(0px);
            }
            100% {
              transform: translateX(-8px);
            }
          }
        }
      }

      svg {
        width: 20px;

        @include breakpoint(tablet) {
          width: initial;
        }
      }

      @include breakpoint(tablet) {
        font-size: 20px;
      }
    }
  }
}
