.page-single-outcome {
  section {
    margin-bottom: 44px;
    border-bottom: 2px solid white;
    padding: 0 5% 44px;

    &:last-of-type {
      border: none;
      margin-bottom: 0;
    }

    @include breakpoint(desktop) {
      margin-bottom: 44px;

      padding: 0 5% 44px;
    }

    p {
      text-align: center;
      max-width: 800px;
      margin: 0 auto 20px;

      a {
        font-weight: bold;
        text-decoration: underline;
      }
    }

    .link-group {
      .label {
        margin-bottom: 16px;
        text-align: center;
        display: block;
      }

      ul {
        @include breakpoint(desktop) {
          display: flex;
          gap: 1.25rem;
          flex-wrap: wrap;
          justify-content: center;
        }

        li {
          margin-bottom: 20px;

          &:last-of-type {
            margin-bottom: 0;
          }

          @include breakpoint(desktop) {
            margin-bottom: 0;
            flex: 1 1 calc(25% - 0.9375rem);
            max-width: calc((100% - 60px) / 4);
            align-self: stretch;
          }

          a {
            width: 100%;
            @include breakpoint(desktop) {
              align-self: stretch;
              display: inline-flex;
              align-items: center;
              text-align: center;
              justify-content: center;
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      &.two-col {
        @include breakpoint(desktop) {
          display: flex;
          gap: 75px;
          justify-content: center;
        }

        > div {
          margin-bottom: 32px;

          @include breakpoint(desktop) {
            width: 50%;
            display: flex;
            flex-direction: column;
            margin-bottom: 0;
            flex-wrap: wrap;

            ul {
              display: flex;
              gap: 20px;
              flex-direction: row;
              flex-wrap: wrap;
              width: 100%;
              justify-content: center;

              li {
                width: 100%;

                @include breakpoint(desktop) {
                  width: calc(50% - 10px);
                  flex: none;
                  max-width: none;
                }

                a {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }

    .underline_text {
      font-weight: $fw-semi-bold;
      text-decoration: underline;
      font-size: 16px;
      text-decoration-thickness: 2px;
      text-underline-offset: 8px;
      display: table;
      margin: 24px auto 0;
    }

    .button-group {
      .button {
        margin: auto;
      }
    }
  }
}
