.page-single-offering {
  @include breakpoint(desktop) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .page-header {
    margin-bottom: 0;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column-reverse;

    @include breakpoint(desktop) {
      display: flex;
      flex-direction: row;
      box-sizing: content-box;
      margin: 0 auto;
      flex: 1;
    }

    .col:first-of-type {
      padding: 32px;

      @include breakpoint(desktop) {
        width: 60%;
        padding: 52px;
      }
    }

    .col {
      @include breakpoint(desktop) {
        display: flex;
        flex-direction: column;
        flex: 1;
      }

      .media {
        margin-bottom: 36px;
        border-bottom: 2px solid $color-white;

        @include breakpoint(desktop) {
          border-bottom: none;
          border-left: 2px solid $color-white;
          border-bottom: 2px solid $color-white;
        }

        .video {
          iframe {
            width: 100%;
            height: 100%;
            aspect-ratio: 16/9;
          }
        }
        .image {
          img {
            width: 100%;
            height: auto;
            aspect-ratio: 16/9;
            object-fit: cover;
          }
        }
      }

      .offering-url {
        margin: 0 auto;
        max-width: 90%;
      }
    }
  }
}
