// Colors
$color-navy: #223970;
$color-aqua: #0bd9d8;
$color-white: #ffffff;
$color-gold: #f3a900;

// Font Weights
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;
