.btn,
.button {
  font-size: 16px;
  font-weight: $fw-medium;
  border-radius: 30px;
  background-color: $color-white;
  color: $color-navy;
  text-align: center;
  padding: 16px 32px;
  width: fit-content;
  display: table;
  transition: 0.25s ease-in-out all;

  &:hover:not(.disabled),
  &.active {
    background-color: $color-light-navy;
  }

  &.aqua {
    background-color: $color-aqua;

    &:hover {
      background-color: #93d6dc;
    }
  }
}

.button-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  li {
    width: 100%;
    @include breakpoint(tablet) {
      flex: 1 1 calc((100% - 3 * 20px) / 4);
      max-width: calc((100% - 3 * 20px) / 4);
    }

    a {
      width: 100%;
    }
  }
}
