.button {
  font-size: 16px;
  font-weight: $fw-medium;
  border-radius: 30px;
  background-color: $color-white;
  color: $color-navy;
  text-align: center;
  padding: 16px 32px;
  width: fit-content;
  display: table;
  transition: 0.25s ease-in-out all;

  &:hover:not(.disabled),
  &.active {
    background-color: $color-light-navy;
  }

  &.aqua {
    background-color: $color-aqua;

    &:hover {
      background-color: #93d6dc;
    }
  }

  &.bolded {
    font-weight: $fw-semi-bold;
  }

  &.center {
    margin: auto;
  }
}
